// http://www.palettable.io/1E1F1A-FFF8BB-C69F98-FFFFFF-FAD4D3

@import "../functions";

$readmore-colors: (
	'primary': #FFF8BB, 
	'accent': #FAD4D3,
	'secondary': #C69F98,
	'foreground': #ffffff,
	'background': #1E1F1A
);

$background-color: readmore-color('background');

body {
	background-color: $background-color;
}