// http://www.palettable.io/DECDBD-D6C1AB-A15408-FFFFFF-95A800

@import "../functions";

$readmore-colors: (
	'primary': #D6C1AB, 
	'accent': #95A800,
	'secondary': #A15408,
	'foreground': #ffffff,
	'background': #DECDBD
);

$background-color: readmore-color('background');

body {
	background-color: $background-color;
}