// http://www.palettable.io/567373-AAFFF7-03C7FF-FFFFFF-0080FF

@import "../functions";

$readmore-colors: (
	'primary': #AAFFF7, 
	'accent': #0080FF,
	'secondary': #03C7FF,
	'foreground': #ffffff,
	'background': #567373
);

$background-color: readmore-color('background');

body {
	background-color: $background-color;
}