@import "media_queries";

// Transition effect on text color
@mixin color-transition() {
	transition: color 0.2s ease;
}

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

@mixin font-size-paragraph() {
	@include font-size($fontsize__paragraph);
}
@mixin font-size-site-title() {
	@include font-size($fontsize__site-title);
}
@mixin font-size-post-title() {
	@include font-size($fontsize__post-title);
}
@mixin font-size-headings() {
	@include font-size($fontsize__headings);
}
@mixin font-size-menu() {
	@include font-size($fontsize__menu);
}

// Reset all styles on lists
@mixin reset-list() {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

// Hack to enable material acceleration
@mixin enhance-cpu() {
	transform: translate3d(0,0,0);
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}