//== Colors
$color__primary: readmore-color('primary');
$color__accent: readmore-color('accent');
$color__foreground: readmore-color('foreground');
$color__background: readmore-color('background');
$color__text: readmore-color('text');

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__grey-light: #c5cdd1;

//== Table Colors
$color__table__background: darken( saturate( adjust-hue( $color__background, 1deg ), 26 ), 23 );
$color__td__background: darken( saturate( adjust-hue( $color__background, 2deg ), 13 ), 16 );
$color__td__background--disabled: darken( saturate( adjust-hue( $color__background, 2deg ), 8 ), 11 );
$color__td__background--accent: $color__accent;
$color__td__background--active: $color__primary;

//== Font
$font__main: 'Roboto', Helvetica;
$font__heading: 'BioRhyme', Helvetica;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.7;
$font__line-height-pre: 1.8;
$fontsize__paragraph: 1.7;
$fontsize__quote: 2.2;
$fontsize__code: 1.2;
$fontsize__headings: (
	'h1': 2.7,
	'h2': 2.4,
	'h3': 2.2,
	'h4': 2,
	'h5': 1.8,
	'h6': 1.7
	);
$fontsize__site-title: map_get($fontsize__headings, 'h1');
$fontsize__post-title: map_get($fontsize__headings, 'h1');
$fontsize__menu: 1.8;

//== Spacing
$spacing__paragraph: 1.5em;
$spacing__gutter: $grid-gutter-width;
