$background: #141A1D;
$foreground: #8b9da3;
$countries: #fff;

/**
 * FOOTER
 */
.footer {
    background: $background;
    font-weight: 300;
    font-size: 14px;
    padding: 50px $site-margin;
    color: $foreground;
    margin-top: 50px;

    a {
        color: $foreground;
        &:hover {
            color: lighten($foreground, 25%);
        }
    }

    &__agencies {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 0 50px 0;
        border-bottom: 1px solid lighten($foreground, 10%);

        @include sm {
            flex-direction: row;
            flex-wrap: wrap;
        }

        ul {
            padding: 0;
            flex: 1 0 200px;
            margin: 5px 0;
        }

        li {
            list-style: none;
            line-height:3rem;

            @include smOnly {
                flex: 1 0 200px;
            }
        }

        li ul li:first-child {
            font-size: 20px;
            font-weight: 100;
            text-transform: uppercase;

            a {
                color: $countries;
            }
        }

        @include xsOnly {
            li ul li:not(:first-child) {
                display: none;
            }
        }
    }

    &__subfooter {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 20px 0;
        flex-direction: column;

        span {
            margin: 10px 0;
        }

        &__copyright {
            font-size: 0.9em;
        }

        @include md {
            flex-direction: row;
            font-size: 13px;
        }

        a {
            color: #fff;
            &:hover {
                @extend a:hover;
            }
        }
    }
}
