@function readmore-color($key: 'primary') {
  	@return map-get($colors, $key);
}

$primary-color: readmore-color('primary');
$secondary-color: readmore-color('secondary');
$accent-color: readmore-color('accent');
$foreground-color: readmore-color('foreground');
$background-color: readmore-color('background');

@import "bootstrap";
@import "functions";
@import "fonts";
@import "sprite";
@import "media_queries";

@import "global";
@import "forms";

@import "header";
@import "menu";
@import "footer";

@import "components";
@import "pages";
