.btn {
    border-radius: 3px;
    padding: 5px 10px;
    @include standard-transition(background-color);
    border: none;
    display: inline-block;

    &.btn-primary {
        &, &:focus, &:active {
            color: $color__foreground;
            background-color: $color__primary;
        }

        &:hover {
            background-color: darken($color__primary, 10%);
        }
    }

    &.btn-secondary {
        &, &:focus, &:active {
            color: $color__foreground;
            background-color: $color__table__background;
        }

        &:hover {
            background-color: darken($color__table__background, 10%);
        }
    }

    &.btn-accent {
        &, &:focus, &:active {
            color: $color__foreground;
            background-color: $color__accent;
        }

        &:hover {
            background-color: darken($color__accent, 10);
        }
    }

    &.btn-grey {
        color: $color__foreground;
        background-color: $color__grey-light;

        &:hover {
            background-color: darken($color__grey-light, 10);
        }
    }
}
