.site-header {
	position: relative;
	overflow: visible;
	min-height: 85px;

	@include sm {
		margin-bottom: $spacing__gutter;
		padding-top: $spacing__gutter;
	}
}

.site-branding {

	.site-title > * {
		@extend h1;
		padding: 0;
		margin: 10px 0;

		@include sm {
			margin: 20px 0;
		}

		@include lg {
			margin: 30px 0;
		}

		a {
			color: $color__foreground;

			&:hover {
				color: $color__accent;
			}
		}

		img {
			margin: 0;

			@include md {
				margin: 20px 0;
			}

			@include lg {
				margin: 30px 0;
			}
		}
	}

	.site-description {
		color: $color__foreground;
	}
}

.site-title {
	padding: 10px 0;

	@include sm() {
		padding: 0;
	}
}
