$toggle_size: 50px;

body {
	.site {
		transition: transform 0.3s ease;
		@include enhance-cpu();
	}

	&.menu-toggled {
		.site {
			transform: translateX(calc((100% - #{$toggle_size+$spacing__gutter}) * -1));

			@include sm() {
				transform: translateX(calc((100% - #{($toggle_size+$spacing__gutter*4)}) * -1));
			}
			@include md() {
				transform: none;
			}
		}
		overflow: hidden;
	}
}

.main-navigation {
	clear: both;
	display: block;
	position: absolute;
    top: $spacing__gutter/2;
    right: $spacing__gutter/2;
    width: auto;

    @include sm() {
    	top: $spacing__gutter;
    	right: $spacing__gutter;
    }

    @include md() {
    	position: static;
    }

    .menu {
    	position: fixed;
    	top: 0;
    	right: -100vw;
    	height: 100vh;
    	width: 100%;
    	background-color: $color__foreground;
		overflow-y: scroll;

		@include md() {
			position: static;
			height: auto;
			overflow: visible;
		}
    }

	ul {
		@include reset-list();

		ul {
			display: none;

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}

			@include md() {
				position: absolute;
			    background: $color__foreground;
			    top: 50px;
			    left: 0;
			    overflow: visible;
			    z-index: 1;

				ul {
					right: -100%;
					left: 100%;
					top: 0;
					bottom: inherit;
					width: auto;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			display: block;
		}

		@include md() {
			display: flex;
			justify-content: space-around;
		}
	}

	li {
		position: relative;
		padding: $spacing__gutter 20px;
		border-bottom: 1px solid $color__grey-light;

		&:hover > a,
		&.focus > a {
			color: $color__primary;
		}

		&.menu-item-has-children {
			& > a:after {
				@extend .fa-angle-down:before;
				@extend .fa;
				margin-left: 10px;
			}
		}

		li {
			border-top: 1px solid $color__grey-light;
			border-bottom: none;
			margin-top: $spacing__gutter;
			padding-bottom: 0;
		}

		@include md() {
			&, li {
				border: none;
				margin-top: 0;
				padding-bottom: $spacing__gutter;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $color__text;
		@include font-size-menu();
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__primary;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul.menu {
	display: block;
}

.menu-toggle {
	background-color: $color__primary;
	color: $color__foreground;
	@include font-size(2);
	width: $toggle_size;
	height: $toggle_size;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

@include md() {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}