article.post {
	$post_format_icon_size: 40px;

	&.hentry {
		margin: 0;
		padding: 0;
		background-color: $color__foreground;
		position: relative;
		z-index: 0;
		border-bottom: 1px solid $color__grey-light;
	}

	.entry-header,
	.entry-content,
	.entry-footer {
		padding-left: 60px;
		padding-right: $spacing__paragraph;
		position: relative;
	}

	.page-content,
	.entry-content,
	.entry-summary {
		padding-top: $spacing__paragraph;
	}

	.page-links {
		clear: both;
		margin: 0 0 $spacing__paragraph;
	}

	// Hentry header 
	.entry-title,
	.entry-title a {
		color: $color__text;
	}

	.entry-title {
		padding-top: 20px;
	}

	.updated:not(.published){
		display: none;
	}

	.byline {
		display: block;
	}

	.entry-header i {
		display: inline-block;
		margin-right: 5px;
		width: 15px;
	}

	.post-format-icon {
		position: absolute;
		top: 24px;
		left: 0;
		width: $post_format_icon_size;
		height: $post_format_icon_size;
		background-color: $color__primary;
		color: #FFFFFF;
		text-align: center;
		vertical-align: baseline;
		line-height: 2.8;
		z-index: 2;

		&:before {
			@extend .fa;
		}
	}

	&.format-standard {
		.post-format-icon:before {
			@extend .fa-pencil:before;
		}
	}

	&.format-link {
		.post-format-icon:before {
			@extend .fa-link:before;
		}
	}

	&.format-video {
		.post-format-icon:before {
			@extend .fa-play:before;
		}
	}

	&.format-image {
		.post-format-icon:before {
			@extend .fa-camera:before;
		}
	}

	&.format-audio {
		.post-format-icon:before {
			@extend .fa-microphone:before;
		}
	}

	&.format-gallery {
		.post-format-icon:before {
			@extend .fa-picture-o:before;
		}
	}

	&.format-quote {
		.post-format-icon:before {
			@extend .fa-quote-left:before;
		}
	}

	// Featured thumbnail
	.hentry-thumbnail {

	}

	// Hentry Footer
	.cat-links,
	.tags-links,
	.edit-link {
		display: none;
	}

	&.single .cat-links,
	&.single .tags-links,
	&.single .edit-link {
		display: inline;
	}

	// Images alignment
	.alignleft {
		display: inline;
		float: left;
		margin-right: 1.5em;
	}
	.alignright {
		display: inline;
		float: right;
		margin-left: 1.5em;
	}
	.aligncenter {
		clear: both;
		@include center-block;
	}

	// Hentry content
	.readmore {
		color: $color__accent;
	}
}