// Link & Quotes
article.post.format-link,
article.post.format-quote {
	margin-bottom: 0;

	.entry-content {
		background-color: $color__background;
		color: $color__foreground;

		a {
			color: $color__accent;
		}

		p {
			margin-bottom: 0;
		}
	}
}

// Quotes
article.post.format-quote {
	.entry-content {
		text-align: center;
		@include font-size-quote();
	}
}