article.post {
	&.hentry {
		margin: 0 0 $spacing__paragraph;
		padding: 0 0 $spacing__paragraph;
		background-color: $color__foreground;
		position: relative;
		z-index: 0;
		text-shadow: 1px 1px 1px #FFF;
	}

	.entry-header,
	.entry-content,
	.entry-footer {
		padding-left: 60px;
		padding-right: $spacing__paragraph;
	}

	.page-content,
	.entry-content,
	.entry-summary {
		margin: $spacing__paragraph 0 0;
	}

	.page-links {
		clear: both;
		margin: 0 0 $spacing__paragraph;
	}

	// Hentry header 
	.entry-title,
	.entry-title a {
		color: $color__text;
	}

	.updated:not(.published){
		display: none;
	}

	.byline {
		display: block;
	}

	.entry-header i {
		display: inline-block;
		margin-right: 5px;
		width: 15px;
	}

	// Featured thumbnail
	.hentry-thumbnail {

	}

	// Hentry Footer
	.cat-links,
	.tags-links,
	.edit-link {
		display: none;
	}

	&.single .cat-links,
	&.single .tags-links,
	&.single .edit-link {
		display: inline;
	}

	// Images alignment
	.alignleft {
		display: inline;
		float: left;
		margin-right: 1.5em;
	}
	.alignright {
		display: inline;
		float: right;
		margin-left: 1.5em;
	}
	.aligncenter {
		clear: both;
		@include center-block;
	}

	// Hentry content
	.readmore {
		color: $color__accent;
	}
}